<div class="px-2">
  <%= simple_form_for event, url: events_path, html: { class: "modal-form" } do |f| %>
    <%= f.input :new_total_assets, label: "Total Assets", input_html: { class: "form-control", value: month.total_assets } %>
    <%= f.input :new_saved_amount, label: "Saved Amount", input_html: { class: "form-control", value: month.saved_amount } %>
    <%= f.input :month_id, as: :hidden, input_html: { value: month.id } %>
    <%= f.input :name, as: :hidden, input_html: { value: params[:search][:name] } %>
    <%= f.button :submit, "Update Life Plan", class: "btn btn-aurora-primary w-100" %>
  <% end %>
</div>
