<div class="px-2">
  <%= simple_form_for event, url: events_path, html: { class: "modal-form" } do |f| %>
    <label for="house_price" class="form-label">House Price</label>
    <div class="input-group mb-3">
      <span class="input-group-text sign fw-bold fs-5">¥</span>
      <input type="number" name="event[house_price]" id="house_price" class="form-control" placeholder="30,000,000">
    </div>
    <label for="down_payment" class="form-label">Down Payment</label>
    <div class="input-group mb-3">
      <span class="input-group-text sign fw-bold fs-5">¥</span>
      <input type="number" name="event[down_payment]" id="down_payment" class="form-control" placeholder="1,000,000">
    </div>
    <%= render "events/range_field", f: f, attribute: :mortgage_rate, label: "Annual Mortgage Rate (%)", min: 0, max: 100, step: 5, default: 5, suffix: "%" %>
    <%= render "events/range_field", f: f, attribute: :mortgage_years, label: "Mortgage Length in Years", min: 1, max: 50, step: 1, default: 20, suffix: "" %>
    <%= f.input :new_total_assets, as: :hidden, input_html: { value: month.total_assets } %>
    <%= f.input :new_saved_amount, as: :hidden, input_html: { value: month.saved_amount } %>
    <%= f.input :month_id, as: :hidden, input_html: { value: month.id } %>
    <%= f.input :name, as: :hidden, input_html: { value: params[:search][:name] } %>
    <%= f.button :submit, "Update Life Plan", class: "btn btn-aurora-primary w-100" %>
  <% end %>
</div>
