<div class="px-2">
  <%= simple_form_for event, url: events_path, html: { class: "modal-form" } do |f| %>
    <label for="spouse_total_assets" class="form-label">Spouse's Total Assets</label>
    <div class="input-group mb-3">
      <span class="input-group-text sign fw-bold fs-5">¥</span>
      <input type="number" name="event[spouse_total_assets]" id="spouse_total_assets" class="form-control" placeholder="100,000">
    </div>
    <label for="spouse_saved_amount" class="form-label">Spouse's Monthly Savings Amount</label>
    <div class="input-group">
      <span class="input-group-text sign fw-bold fs-5">¥</span>
      <input type="number" name="event[spouse_saved_amount]" id="spouse_saved_amount" class="form-control" placeholder="10,000">
    </div>
    <%= f.input :new_total_assets, as: :hidden, input_html: { value: month.total_assets } %>
    <%= f.input :new_saved_amount, as: :hidden, input_html: { value: month.saved_amount } %>
    <%= f.input :month_id, as: :hidden, input_html: { value: month.id } %>
    <%= f.input :name, as: :hidden, input_html: { value: params[:search][:name] } %>
    <%= f.button :submit, "Update Life Plan", class: "btn btn-aurora-primary w-100" %>
  <% end %>
</div>
